a {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 4px 2px;
  cursor: pointer;
  /*width: auto;
  height: 80px;*/
  font-size : 50px;
    
  }
.container {
  display: inline-flex;
  column-gap: 20px;
  justify-content: space-between;
  text-align: center;
}
li {
  display: inline-flex;
  column-gap: 20px;
  justify-content: space-between;
  text-align:center;
  vertical-align:middle; 
}
label{
  padding-top: 20px;
}
h1 {
  position: absolute; /* taken out of the normal flow of the document */
  top: 50%; /* moved down by 50% of the screen height */
  transform: translateY(-50%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
  width: 100%; /* needs to be defined to keep the default block behavior */
  text-align: center;
  margin: 0; /* again, for perfect center */
 }